{% extends 'base.html' %}

{% block content %}
  <img src="{{ image.image.url }}" alt="Location Image" class="w-25 m-3">
  <h2>Comments:</h2>
  <ul>
    {% for comment in comments %}
      <li>{{ comment.user.username }} - {{ comment.content }}</li>
    {% empty %}
      <li>No comments yet.</li>
    {% endfor %}
  </ul>
  <h2>Add a Comment:</h2>
  <form method="POST" action="{% url 'image_detail' image_id=image.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success w-50 mb-5">Submit</button>
  </form>
{% endblock %}
